.reg-threesixty{
  opacity: 1;
  transition: opacity 0.5s ease;
  position: relative;
  overflow: hidden;
}

.reg-threesixty.loading-first{
  opacity: 0;
}

.reg-threesixty canvas {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
